body{
    background-color: #dbead5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}
.box{
    width: 30%;
    height: 50%;
    background-color: #6eaa5e;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
#dolar-value{
    font-size: 3em;
    color: #fff;
}
@media screen and (max-width: 768px){
    .box{
        width: 80%;
    }
}
